html, 
body {
    height: 100%;
}

h1{
	    color: #fdfdfd;
	    font-size:4vw;
}
h2{
	font-size: 3vw;
	 color: #fdfdfd;

}
p{
	     color: #000000;
    font-weight: 400;
    font-size: 1.2vw;
}
.steps{
	padding:15px;
		border:5px solid white;
		border-radius: 5px;

}
.start{
	margin-top:30px;
	padding-top:30px;
	font-size:3vw;
}
.container{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  max-width:900px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000000;
}

@media (max-width: 900px)
{
	h1{
		    color: #fdfdfd;
		    font-size:7vw;
	}
	h2{
		font-size:4.2vw;
		 color: #fdfdfd;

	}
	p{
		     color: #000000;
	    font-weight: 400;
	    font-size: 2.5vw;
	}
	.start{
	font-size:8vw;
}
.container{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  max-width:650px;
}
}